body {
    background: #1abc9c; 
    font-family: Tahoma, Arial, sans-serif; 
    color: #333;
}

table {
    border-collapse: collapse;
}

p, h4 {
    font-size: 20px; 
    margin-bottom: 0;
}

h4 {
    font-size: 16px; /* Изменяем размер шрифта для подзаголовков */
}

ul, ol {
    margin: 0;
}

table tr td {
    padding: 5px;
}

table {
    width: 100%; /* Ширина таблицы на 100% экрана */
}

img {
    height: 30px; /* Высота изображения 30px */
    width: auto;
}

/* Добавляем стили для заголовка первого уровня с шрифтом с засечками */
h1 {
    font-family: "Times New Roman", Times, serif;
}

/* Стили для таблицы с границами */
table {
    border: 1px solid black;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}